/* Estilo para el fondo de la página */
body {
  background-color: #ff00ea;
  /* Color de fondo naranja oscuro para todo el documento */
  margin: 0;
  /* Elimina el margen predeterminado del cuerpo */
  padding: 0;
  /* Elimina el relleno predeterminado del cuerpo */
}

/* Estilo para el contenedor principal */
.container {
  background-color: #FFA500;
  /* Naranja oscuro */
  padding: 20px;
  border-radius: 0;
  /* Elimina el borde redondeado */
}

/* Estilo para el título "Meme Generator" centrado */
h1 {
  text-align: center;
  color: #FFF;
  /* Texto blanco */
}

.form-group label {
  color: #FFA500;
  /* Color de etiquetas en naranja */
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  /* Ancho completo */
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #FFA500;
  /* Borde naranja */
  border-radius: 5px;
}

button {
  background-color: #FFA500;
  /* Fondo naranja para botones */
  color: #FFF;
  /* Texto blanco en botones */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #FFD700;
  /* Cambio de color en el hover (amarillo dorado) */
}
